//Colors
$--color-blue: #4eb9dde0;
$--color-blue-darker: #4f52ffe0;
$--color-green: #52ff4fe0;
$--color-green-darker: #04d500;
$--color-black: #000;
$--color-black-light: #333;
$--color-white: #fff;
$--color-gray: #999;
$--color-gray-light-1: #f7f7f7;

$--color-yellow-light: #fdc830;
$--color-yellow-dark: #f37335;
$--color-pink-light: #fc5c7d;
$--color-blue-light: #6a82fb;
$--color-green-blue: #00b09b;
$--color-green-light: #96c93d;

//Fonts
$--font-Lato: "Lato", sans-serif;
$--font-Pacifico: "Pacifico", cursive;
$--radius: 1rem;
