* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-Lato: "Lato", sans-serif;
}

body {
  font-family: var(--font-Lato);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 30px;
}

/* =================================================== Start  my css =======================================*/

/* ---------- Header ----------- */
.header {
  background-image: linear-gradient(to right bottom, #5866ffb4, #ff924fb4),
    url(./img/foss.jpg);
  height: 95vh;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.img-logo {
  position: absolute;
  top: 30px;
  left: 40px;
}

.logo {
  height: 3.5rem;
  width: 3.5rem;
}
