* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-Lato: "Lato", sans-serif;
}

body {
  font-family: var(--font-Lato);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 30px;
}

/* =================================================== Start  my css =======================================*/

/* ---------- Header ----------- */
.header {
  background-image: linear-gradient(to right bottom, #4eb9dde0, #52ff4fe0),
    url(./img/foss.jpg);
  height: 95vh;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.img-logo {
  position: absolute;
  top: 30px;
  left: 40px;
}

.logo {
  height: 3rem;
  width: 3rem;
}
.header-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-text-up,
.header-text-down {
  display: block;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.header-text-up {
  font-family: var(--font-Lato);
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 1.7rem;
}
.header-text-down {
  font-family: var(--font-Lato);
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.5rem;
}
