@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-Lato: "Lato", sans-serif;
  --font-Pacifico: "Pacifico", cursive;
  --radius: 1rem;
}

body {
  font-family: var(--font-Lato);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 30px;
}

/* =================================================== Start  my css =======================================*/

/* ---------- Header ----------- */
.header {
  background-image: linear-gradient(to right bottom, #4eb9dde0, #52ff4fe0),
    url(./img/foss.jpg);
  height: 95vh;
  position: relative;
  border-radius: 1rem 1rem 0 0;

  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.img-logo {
  position: absolute;
  top: 30px;
  left: 40px;
}

.logo {
  height: 3rem;
  width: 3rem;
  transition: all 2s;
}
.logo:hover {
  opacity: 0;
}
.header-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header-text-up,
.header-text-down {
  display: block;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.header-text-up {
  font-family: var(--font-Lato);
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 1.7rem;

  animation: header-text-up 2s;
}
.header-text-down {
  font-family: var(--font-Lato);
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.5rem;
  margin-bottom: 70px;

  animation: header-text-down 2s;
}

@keyframes header-text-up {
  0% {
    transform: translateX(-500px);
    /* transform: scale(10); */
    opacity: 0;
  }
  80% {
    transform: translateX(10px);
    opacity: 0.8;
    /* transform: scale(1); */
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes header-text-down {
  0% {
    transform: translateX(500px);
    /* transform: scale(10); */
    opacity: 0;
  }
  80% {
    transform: translateX(-10px);
    opacity: 0.8;
    /* transform: scale(1); */
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font-Pacifico);
  display: inline-block;
  border-radius: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
.btn-animated {
  animation: header-btn 2s ease-out 0.5s;
  animation-fill-mode: backwards;
}
.btn-black:visited,
.btn-black {
  background-color: #000;
  padding: 15px 45px;
  color: #fff;
  position: relative;
}
.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px);
}
.btn:active {
  transform: translateY(3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-black::after {
  background: #000;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@keyframes header-btn {
  from {
    opacity: 0;
    transform: translateY(500px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
