.btn,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-family: $--font-Pacifico;
    display: inline-block;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba($--color-black, 0.3);
    transition: all 0.2s;
    animation: header-btn 2s ease-out 0.5s;
    animation-fill-mode: backwards;
    background-color: $--color-black;
    padding: 15px 45px;
    color: $--color-white;
    position: relative;

    @include responsive(tab-land) {
        padding: 10px 35px;
    }
    @include responsive(tab-vert) {
        padding: 10px 35px;
    }
    @include responsive(phone) {
        padding: 5px 20px;
    }
}

.btn:hover {
    box-shadow: 0 1rem 2rem rgba($--color-black, 0.6);
    transform: translateY(-3px);

    &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}

.btn:active {
    transform: translateY(3px);
    box-shadow: 0 0.5rem 1rem rgba($--color-black, 0.6);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background: $--color-black;
}

.about-btn {
    &:link,
    &:visited {
        text-transform: capitalize;
        text-decoration: none;
        font-size: 1.2rem;
        color: $--color-green-darker;
        font-family: $--font-Lato;
        border-bottom: 1px solid $--color-green-darker;
        padding: 0.5rem;
        transition: all 0.2s;
    }

    &:hover {
        background-color: $--color-green-darker;
        color: $--color-white;
        border-radius: $--radius;
        transform: translateY(-20px);
        box-shadow: 0 1rem 2rem rgba($--color-black, 0.6);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 0.5rem 1rem rgba($--color-black, 0.6);
    }
}

.card-btn {
    text-transform: uppercase;
    text-decoration: none;
    font-family: $--font-Pacifico;
    display: inline-block;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba($--color-black, 0.3);
    transition: all 0.2s;
    animation-fill-mode: backwards;
    background-color: $--color-black;
    padding: 15px 45px;
    color: $--color-white;
    position: relative;

    &:hover {
        box-shadow: 0 1rem 2rem rgba($--color-black, 0.6);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($--color-black, 0.6);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
        background: $--color-black;
    }
}

.section-tours-btn {
    text-transform: uppercase;
    text-decoration: none;
    font-family: $--font-Pacifico;
    display: inline-block;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba($--color-green-darker, 0.3);
    transition: all 0.2s;
    animation-fill-mode: backwards;
    background-color: $--color-green-darker;
    padding: 15px 45px;
    color: $--color-white;
    position: relative;

    &:hover {
        box-shadow: 0 1rem 2rem rgba($--color-green-darker, 0.6);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($--color-green-darker, 0.6);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
        background: $--color-green-darker;
    }
}

.story-btn {
    text-transform: uppercase;
    text-decoration: none;
    font-family: $--font-Pacifico;
    display: inline-block;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba($--color-white, 0.3);
    transition: all 0.2s;
    animation-fill-mode: backwards;
    background-color: $--color-white;
    padding: 15px 45px;
    color: $--color-black;
    position: relative;

    &:hover {
        box-shadow: 0 1rem 2rem rgba($--color-white, 0.6);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($--color-white, 0.6);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
        background: $--color-white;
    }
}

.form-btn {
    text-transform: uppercase;
    text-decoration: none;
    font-family: $--font-Pacifico;
    display: inline-block;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba($--color-green-blue, 0.3);
    transition: all 0.2s;
    animation-fill-mode: backwards;
    background-color: $--color-green-blue;
    padding: 15px 45px;
    color: $--color-black;
    position: absolute;
    left: 45%;
    top: 0;
    transform: translate(-50%, -50%);
    border: none;

    @include responsive(tab-land) {
        padding: 10px 40px;
        top: 4.5rem;
        left: 50%;
    }
    @include responsive(tab-vert) {
        padding: 10px 25px;
        top: 3rem;
        left: 50%;
    }
    @include responsive(phone) {
        padding: 10px 20px;
        top: 3.5rem;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba($--color-green-blue, 0.6);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($--color-green-blue, 0.6);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
        background: $--color-green-blue;
    }
}

.popup-btn {
    text-transform: uppercase;
    text-decoration: none;
    font-family: $--font-Pacifico;
    display: inline-block;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba($--color-green-blue, 0.3);
    transition: all 0.2s;
    animation-fill-mode: backwards;
    background-color: $--color-green-blue;
    padding: 7px 30px;
    color: $--color-black;
    position: absolute;
    left: 45%;
    top: 92%;
    transform: translate(-50%, -50%);
    border: none;

    &:hover {
        box-shadow: 0 1rem 2rem rgba($--color-green-blue, 0.6);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($--color-green-blue, 0.6);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
        background: $--color-green-blue;
    }
}
