.card-tours {
    //functionlity
    perspective: 1500rem;
    -moz-perspective: 150rem;
    position: relative;
    transition: all 1s ease;
    height: 30rem;
    box-shadow: 0 1.5rem 4rem rgba($--color-black, 0.15);
    overflow: hidden;
    backface-visibility: hidden;

    &-slide {
        border-radius: $--radius;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30rem;
        backface-visibility: hidden;

        &-front {
            background-color: $--color-white;
        }
        &-back {
            transform: rotateY(180deg);
            &-1 {
                background-image: linear-gradient(
                    to right bottom,
                    $--color-yellow-light,
                    $--color-yellow-dark
                );
            }
            &-2 {
                background-image: linear-gradient(
                    to right bottom,
                    $--color-pink-light,
                    $--color-blue-light
                );
            }
            &-3 {
                background-image: linear-gradient(
                    to right bottom,
                    $--color-green-blue,
                    $--color-green-light
                );
            }
        }
    }

    &:hover &-slide-front {
        transform: rotateY(-180deg);
        backface-visibility: hidden;
    }
    &:hover &-slide-back {
        transform: rotateY(0deg);
    }

    // Card picture
    &-picture {
        height: 13rem;

        background-size: cover;
        background-position: center;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
        position: relative;

        &-1 {
            background-image: url(../../img/card-1.jpg),
                linear-gradient(
                    to right bottom,
                    $--color-yellow-light,
                    $--color-yellow-dark
                );
        }

        &-2 {
            background-image: url(../../img/card-2.jpg),
                linear-gradient(
                    to right bottom,
                    $--color-pink-light,
                    $--color-blue-light
                );
        }
        &-3 {
            background-image: url(../../img/card-3.jpg),
                linear-gradient(
                    to right bottom,
                    $--color-green-blue,
                    $--color-green-light
                );
        }
    }

    // Card header
    &-header {
        font-size: 2.2rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $--color-white;
        position: absolute;
        top: 7rem;
        right: 2rem;

        &-1 {
            width: 80%;
        }
        &-2 {
            width: 75%;
        }
        &-3 {
            width: 75%;
        }
        &-span {
            padding: 0.5rem 2rem;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            &-1 {
                background-image: linear-gradient(
                    to right bottom,
                    $--color-yellow-light,
                    $--color-yellow-dark
                );
            }
            &-2 {
                background-image: linear-gradient(
                    to right bottom,
                    $--color-pink-light,
                    $--color-blue-light
                );
            }
            &-3 {
                background-image: linear-gradient(
                    to right bottom,
                    $--color-green-blue,
                    $--color-green-light
                );
            }
        }
    }

    &-detail {
        text-align: center;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-transform: capitalize;
        padding: 0 2rem;
        margin-top: 4rem;
    }

    // Back card
    &-detailBox {
        text-align: center;
        margin-bottom: 5rem;
        margin-top: 5rem;
        &-text {
            font-weight: 700;
            font-size: 1.4rem;
            padding-bottom: 2rem;
        }
        &-img {
            height: 10rem;
            width: 10rem;
        }
        &-btn {
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    // ------------------------------------------------------------------------
    @include responsive(tab-land) {
        margin: 0 auto;
        width: 75%;
        height: auto;
        box-shadow: none;

        @include responsive(phone) {
            width: 85%;
        }

        &-slide {
            background-color: $--color-white;
            position: relative;
            height: auto;

            &-front {
                padding-bottom: 5rem;
                margin-bottom: -5rem;
            }

            &-back {
                border-radius: 0 0 $--radius $--radius;
                transform: rotateY(0);
                clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
                padding-bottom: 2.5rem;

                &-1 {
                    background-image: linear-gradient(
                        to right bottom,
                        $--color-yellow-light,
                        $--color-yellow-dark
                    );
                }
                &-2 {
                    background-image: linear-gradient(
                        to right bottom,
                        $--color-pink-light,
                        $--color-blue-light
                    );
                }
                &-3 {
                    background-image: linear-gradient(
                        to right bottom,
                        $--color-green-blue,
                        $--color-green-light
                    );
                }
            }
        }

        &:hover &-slide-front {
            transform: rotateY(0);
        }
        &:hover &-slide-back {
            transform: rotateY(0);
        }

        // Card picture
        &-picture {
            height: 13rem;
            background-size: cover;
            background-position: center;
            background-blend-mode: screen;
            clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
            position: relative;

            &-1 {
                background-image: url(../../img/card-1.jpg),
                    linear-gradient(
                        to right bottom,
                        $--color-yellow-light,
                        $--color-yellow-dark
                    );
            }

            &-2 {
                background-image: url(../../img/card-2.jpg),
                    linear-gradient(
                        to right bottom,
                        $--color-pink-light,
                        $--color-blue-light
                    );
            }
            &-3 {
                background-image: url(../../img/card-3.jpg),
                    linear-gradient(
                        to right bottom,
                        $--color-green-blue,
                        $--color-green-light
                    );
            }
        }

        // Card header
        &-header {
            font-size: 2.2rem;
            font-weight: 300;
            text-transform: uppercase;
            text-align: right;
            color: $--color-white;
            position: absolute;
            top: 7rem;
            right: 2rem;

            &-1 {
                width: 80%;
            }
            &-2 {
                width: 75%;
            }
            &-3 {
                width: 75%;
            }
            &-span {
                padding: 0.5rem 2rem;
                -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
                &-1 {
                    background-image: linear-gradient(
                        to right bottom,
                        $--color-yellow-light,
                        $--color-yellow-dark
                    );
                }
                &-2 {
                    background-image: linear-gradient(
                        to right bottom,
                        $--color-pink-light,
                        $--color-blue-light
                    );
                }
                &-3 {
                    background-image: linear-gradient(
                        to right bottom,
                        $--color-green-blue,
                        $--color-green-light
                    );
                }
            }
        }

        &-detail {
            text-align: center;
            font-size: 1.3rem;
            letter-spacing: 0.1rem;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                sans-serif;
            text-transform: capitalize;
            padding: 0 2rem;
            margin-top: 4rem;
        }

        // Back card
        &-detailBox {
            text-align: center;
            margin-bottom: 5rem;
            margin-top: 5rem;
            &-text {
                font-weight: 700;
                font-size: 1.4rem;
                padding-bottom: 2rem;
            }
            &-img {
                height: 10rem;
                width: 10rem;

                @include responsive(tab-land) {
                    height: 7rem;
                    width: 7rem;
                }
            }
            &-btn {
                position: absolute;
                top: 87%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
