.composite {
  position: absolute;

  &--photo {
    width: 27%;
    height: 27%;
    position: relative;
    z-index: 10;
    transition: all 0.2s;
    border-radius: $--radius;
  }

  &--photo-1 {
    top: 0;
    left: 20%;
    z-index: 15;
  }

  &--photo-2 {
    top: -5rem;
    left: 10%;
    z-index: 1;
  }

  &--photo-3 {
    right: 4rem;
    top: 6rem;
  }

  &--photo:hover {
    transform: scale(1.2);
    z-index: 20;
  }
}
