.section-form {
    margin-top: -2.8rem;
    padding: 15rem 0;
    background-image: linear-gradient(
        to right bottom,
        $--color-green-light,
        $--color-green-blue
    );
    height: 60rem;

    @include responsive(tab-land) {
        padding-bottom: 72vh;
    }
    @include responsive(tab-vert) {
        padding-bottom: 63vh;
    }
    @include responsive(phone) {
        padding-bottom: 55vh;
    }

    &-box {
        background-image: linear-gradient(
                105deg,
                $--color-white 50%,
                transparent 50.15%
            ),
            url("../../img/desk.jpg");
        background-size: cover;
        background-position: center;
        height: 36.5rem;
        width: 80%;
        margin: 0 auto;
        border-radius: $--radius;
        box-shadow: 0 1.5rem 4rem rgba($--color-black, 0.4);

        @include responsive(tab-land) {
            height: 50rem;
            width: 95%;
            background-image: linear-gradient(
                    105deg,
                    $--color-white 57%,
                    transparent 50.15%
                ),
                url("../../img/desk.jpg");
        }
    }

    &-group {
        width: 50%;
        padding: 1rem 4.6rem;
        position: relative;

        @include responsive(phone) {
            padding: 1rem 3rem;
        }
        &-input {
            display: block;
            border: none;
            font-family: inherit;
            padding: 1.5rem 2rem;
            background-color: rgba($--color-white, 0.5);
            box-shadow: 0 1.5rem 4rem rgba($--color-black, 0.2);
            border-radius: $--radius;
            width: 90%;
            margin-bottom: 1.5rem;
            border-bottom: 4px solid transparent;

            @include responsive(tab-land) {
                width: 125%;
            }
            @include responsive(phone) {
                width: 117%;
            }

            &:focus:invalid {
                border-bottom: 4px solid orangered;
            }

            &:focus {
                outline: none;
                box-shadow: 0 1.5rem 4rem rgba($--color-black, 0.4);
                border-bottom: 4px solid $--color-green-blue;
            }

            &::-webkit-input-placeholder {
                color: $--color-gray;
            }
        }

        &-label {
            font-size: 1.5rem;
            font-weight: 600s;
            padding: 0.5rem 0;
            display: block;

            @include responsive(tab-land) {
                font-size: 1.7rem;
            }
            @include responsive(tab-vert) {
                font-size: 1.5rem;
            }
            @include responsive(phone) {
                font-size: 1.7rem;
            }
        }
    }
}

.form--radio {
    width: 100%;
    display: inline-block;
    margin-bottom: 2.4rem;

    &-input {
        display: none;
    }

    &-label {
        margin-right: 3rem;
        font-size: 1.2rem;
        text-transform: capitalize;
        cursor: pointer;
        position: relative;
        padding-left: 2.5rem;

        @include responsive(tab-land) {
            font-size: 1.5rem;
        }
        @include responsive(tab-vert) {
            font-size: 1.25rem;
        }
        @include responsive(phone) {
            font-size: 1.4rem;
        }
    }

    &-btn {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        border: 5px solid $--color-green-blue;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -0.2rem;

        &::after {
            content: "";
            height: 0.85rem;
            width: 0.85rem;
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $--color-green-blue;
            opacity: 0;
            transition: all 0.2s;
        }
    }
}

.form--radio-input:checked + .form--radio-label .form--radio-btn::after {
    opacity: 1;
}
