*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    padding: 3rem;
    box-sizing: border-box;

    @include responsive(tab-vert) {
        padding: 0;
    }
}

html {
    font-size: 62.5%;

    @include responsive(tab-land) {
        font-size: 56.2%;
    }
    @include responsive(tab-vert) {
        font-size: 50%;
    }
    @include responsive(phone) {
        font-size: 45%;
    }
    // big size
    @include responsive(big-screen) {
        font-size: 90%;
    }
}
