.center {
    text-align: center;
}
.margin-bottom-small {
    margin-bottom: 6rem;
}
.margin-bottom-very-small {
    margin-bottom: 0.5rem;
}
.margin-bottom-medium {
    margin-bottom: 3rem;
}
.padding-left-medium {
    padding-left: 8rem;
}
.padding-left-right-medium {
    padding-left: 8rem;
    padding-right: 8rem;
}
.padding-top-medium {
    padding-top: 10rem;
}
