.center {
  text-align: center;
}
.margin-bottom-small {
  margin-bottom: 6rem;
}
.margin-bottom-very-small {
  margin-bottom: 0.5rem;
}
.margin-bottom-medium {
  margin-bottom: 4rem;
}
.padding-left-medium {
  padding-left: 8rem;
}
