.about {
    background-color: $--color-gray-light-1;
    height: 95vh;
    width: 100%;
    margin-top: -30vh;
    padding-top: 30vh;
    padding-bottom: 30vh;
    box-sizing: content-box;
}
.feature {
    background-image: linear-gradient(
            to right bottom,
            $--color-blue,
            $--color-green
        ),
        url(./img/social.jpg);
    background-size: cover;
    height: 95vh;
    width: 100%;
    padding-top: 30vh;
    box-sizing: content-box;
    margin-top: -25vh;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $--color-gray-light-1;
    height: 95vh;
    width: 100%;
    padding: 20rem 0 50rem 0;
    margin-top: -12rem;
    position: relative;
    z-index: -1;

    &-btn {
        position: absolute;
        bottom: -6rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
