.about {
    background-color: $--color-gray-light-1;
    height: 95vh;
    width: 100%;
    margin-top: -30vh;
    padding-top: 30vh;
    padding-bottom: 30vh;
    box-sizing: content-box;

    @include responsive(tab-land) {
        margin-bottom: -45vh;
        padding-bottom: 0vh;
    }
    @include responsive(tab-vert) {
        margin-bottom: 0vh;
        padding-bottom: 0vh;
    }

    @include responsive(big-screen) {
        padding-bottom: 10vh;
    }
}

.feature {
    background-image: linear-gradient(
            to right bottom,
            $--color-blue,
            $--color-green
        ),
        url(./img/social.jpg);

    background-size: cover;
    height: 95vh;
    width: 100%;
    padding-top: 30vh;
    box-sizing: content-box;
    margin-top: -25vh;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    @include responsive(tab-land) {
        padding-top: 13vh;
        padding-bottom: 43vh;
        & > * {
            transform: skewY(14deg);
        }
    }
    @include responsive(tab-vert) {
        padding-top: 10vh;
        padding-bottom: 30vh;
        & > * {
            transform: skewY(14deg);
        }
    }
    @include responsive(phone) {
        padding-bottom: 15vh;
    }
    @include responsive(big-screen) {
        padding-top: 17vh;
    }
}

.section-tours {
    height: 95vh;
    width: 100%;
    padding: 20rem 0 50rem 0;
    margin-top: -12rem;
    position: relative;

    @include responsive(tab-land) {
        padding-bottom: 195vh;
    }
    @include responsive(tab-vert) {
        padding-bottom: 185vh;
    }
    @include responsive(phone) {
        padding-bottom: 165vh;
    }

    &-btn {
        position: absolute;
        bottom: -6rem;
        left: 50%;
        transform: translate(-50%, -50%);

        @include responsive(tab-land) {
            bottom: -3rem;
        }
        @include responsive(phone) {
            bottom: -6rem;
        }
    }
}
