.popup {
    background-color: rgba($--color-black, 0.45);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5000;
    transition: all 0.3s;
    backdrop-filter: blur(10px);

    opacity: 0;
    visibility: hidden;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &-box {
        @include abCenter;
        margin: 5.5rem 0;
        background-color: $--color-white;
        width: 80%;
        border-radius: 15px;
        overflow: hidden;
        display: table;

        @include responsive(tab-land) {
            position: absolute;
            top: 37%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 50vh;
            margin: 0;
        }
        @include responsive(tab-vert) {
            position: absolute;
            top: 37%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 45vh;
            margin: 0;
        }
        @include responsive(phone) {
            position: absolute;
            top: 37%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 45vh;
            margin: 0;
        }
        @include responsive(big-screen) {
            position: absolute;
            top: 37%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 30vh;
            margin: 0;
        }
        &-left {
            display: table-cell;
            width: 33.33333333%;
        }
        &-img {
            display: block;
            width: 100%;

            @include responsive(tab-land) {
                height: 25vh;
            }
        }
        &-right {
            display: table-cell;
            width: 66.6666667%;
            vertical-align: top;
            padding: 2rem 5rem;

            &-text {
                font-size: 1rem;
                font-family: "Courier New", Courier, monospace;

                column-count: 2;
                column-gap: 4rem;
                column-rule: 2px solid $--color-gray;
                hyphens: auto;

                @include responsive(tab-land) {
                    font-size: 1.5rem;
                }
                @include responsive(tab-vert) {
                    font-size: 1.3rem;
                }
            }
        }
    }

    &-close {
        position: absolute;
        top: 1.75rem;
        right: 1.25rem;
        text-decoration: none;
        font-size: 2.25rem;
        line-height: 0rem;
        color: $--color-black;
        transition: all 0.3s;

        &:hover {
            color: $--color-green-blue;
        }
    }
}
